.smart-search-container {
  padding: 20px;
  text-align: center;
}

.smart-search-container input {
  padding: 10px;
  width: 60%;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.smart-search-container button {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  background-color: #6a5acd;
  color: white;
  border: none;
  border-radius: 10px;
}

.suggestions {
  list-style: none;
  text-align: left;
  margin: 10px auto;
  width: 60%;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #eee;
}

.book-detail {
  margin-top: 20px;
  text-align: left;
  width: 60%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  font-family: serif;
  box-shadow: 0px 2px 6px #aaa;
}

.book-grid {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.book-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  box-shadow: 0px 2px 6px #aaa;
  font-family: serif;
}
